* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}

.nav-bg {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
  padding: 10px 50px;
  border: 2px solid;
  margin-top: 20px;
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.date-time {
  margin: 3rem 0 0 72rem;
}

.line {
  border-right: 2px solid;
  height: 30px;
}

.nav-list ul a {
  text-decoration: none;
  color: black;
}

.nav-list ul a:hover {
  color: slateblue;
}

.Books-Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  height: 100%;
  margin-top: 5rem;
}

.contact,
.new-book {
  display: none;
  align-self: center;
}

#Author,
#Title {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  padding: 3px;
}

#add-Button {
  width: 70px;
  height: 30px;
  background-color: slateblue;
  color: white;
  align-self: flex-end;
}

.books-list {
  border: 2px solid;
}

.books-list div {
  display: flex;
  justify-content: space-between;
  padding: 11px;
}

.awesome-books {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.awesome-books h2,
.new-book h2,
.contact h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.title-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 5vh;
  background: rgb(217, 217, 217);
}

.title-author:nth-child(even) {
  background-color: white;
}

.contact ul {
  margin-top: 1rem;
}

.emptymsg {
  display: none;
  margin-left: 65vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 90vw;
  border: 2px solid;
  padding: 20px 0 20px 20px;
  margin-bottom: 20px;
}
