* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}

.Books-Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  height: 100%;
}

#Author,
#Title {
  width: 300px;
  height: 35px;
  border: 2px solid black;
  padding: 3px;
}

#Add-Button {
  width: 70px;
  height: 30px;
  background-color: green;
  color: white;
  align-self: flex-end;
}

.books-list {
  border: 2px solid;
}

.books-list div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.awesome-books {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.awesome-books h2 {
  text-align: center;
}

.title-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 5vh;
  background: rgb(217, 217, 217);
}

.title-author:nth-child(even) {
  background-color: white;
}


